<header class="cd-header">
	<div id="cd-logo">
		<%= link_to root_path do %>
  			<%= image_tag("icons/svg/bedge.svg") %>
			<span>Status</span>
		<% end %>
	</div>
	<nav class="cd-main-nav">
		<ul>
			<li>
				<%= link_to "Intro", root_path %>
			</li>
			<li>
				<%= link_to "Pricing", root_path %>
			</li>
			<li>
				<%= link_to "Contact Us", root_path %>
			</li>
		</ul>
	</nav>
</header>